<!DOCTYPE html>
<html lang="en">
<html xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
<div th:replace="index :: navbar"></div>

<h1 align="center">Edit Product</h1>
    <form th:action="@{'/product/'+ ${product.product_id}+'/update'}" method="post" onsubmit="return validate_form()" class="text-center" enctype="multipart/form-data" style="border: 1px solid black; width: 60%;text-align: center; margin: auto;" >
        <label for="name">Name</label>
        <strong style="color:red">*</strong>
        <input type="text" class="form-control" id="name"  th:field="*{product.name}">
        <strong  style="display: none;" id="name_validator">Name can not be empty</strong> <br>

        <label for="sku">SKU</label>
        <strong style="color:red">*</strong>
        <input type="text" class="form-control" id="sku"  th:field="*{product.sku}">
        <strong style="display: none;" id="sku_validator">SKU can not be empty</strong> <br>

        <label for="description">Description</label>
        <strong style="color:red">*</strong>
        <input type="text" class="form-control" id="description"  th:field="*{product.description}">
        <strong style="display: none;" id="desc_validator">Description can not be empty</strong> <br>

        <label for="price">Price</label>
        <strong style="color:red">*</strong>
        <input type="text" class="form-control" id="price"  th:field="*{product.price}">
        <strong style="display: none;" id="price_validator">Price can not be zero</strong> <br>

        <label for="inventory">Quantity</label>
        <strong style="color:red">*</strong>
        <input type="text" class="form-control" id="inventory"  th:field="*{product.quantity}">
        <strong style="display: none;" id="inventory_validator">Quantity should be more than 0</strong> <br>

        <label for="product-images">Images</label>
        <strong style="color:red">*</strong>
        <input type="file" class="form-control-file" id="product-images"  name="files" multiple="multiple" accept="image/jpeg, image/png, image/jpg"><br>
        <strong style="display: none;" id="images_validator">Product should have atleast one image</strong> <br>


        <button class="btn btn-primary btn-block mb-4" >Submit</button>

    </form>

</body>
<script th:inline="javascript">
    function validate_form(){
        if (document.getElementById("name").value.trim()==""){
                document.getElementById("name_validator").style= "display:block;color:red;";
                return false;
            }
        if (document.getElementById("sku").value.trim()==""){
                document.getElementById("sku_validator").style= "display:block;color:red;";
                return false;
            }
        if (document.getElementById("description").value.trim()==""){
                document.getElementById("desc_validator").style= "display:block;color:red;";
                return false;
            }
        if (document.getElementById("price").value == 0){
                document.getElementById("price_validator").style= "display:block;color:red;";
                return false;
            }
        if (document.getElementById("price").value < 0){
                document.getElementById("price_validator").style= "display:block;color:red;";
                document.getElementById("price_validator").innerHTML= "(Invalid Price)Price can not be negative";
                return false;
            }
        if (document.getElementById("inventory").value < 1){
                document.getElementById("inventory_validator").style= "display:block;color:red;";
                return false;
            }
        var files = document.getElementById("product-images").files;
        if(files.length == 0){
            document.getElementById("images_validator").style= "display:block;color:red;";
            return false;
        }

        for(let i = 0; i<files.length;i++){
            validImageTypes = ['image/jpg', 'image/jpeg', 'image/png']
            let file_type = files[i]["type"];
            if (!validImageTypes.includes(file_type)) {
                document.getElementById("images_validator").style= "display:block;color:red;";
                document.getElementById("images_validator").innerHTML= "(Invalid Image)";
                response = false;
                return false;
            }
        }

        return true;

    }
</script>
</html>
