<!doctype html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Forget</title>
</head>
<body>
    <h2 align="center">Forget Password</h2>

    <form th:action="@{/forget}" method="post" th:object="${user}" style="border: 1px solid black; width: 60%;text-align: center; margin: auto;" >
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" id="form2Example1" class="form-control" th:field="*{email}"/>

        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">CNIC</label>
            <input type="number" id="form2Example2" class="form-control" th:field="*{cnic}"/>
        </div>

        <button class="btn btn-primary btn-block mb-4">Submit</button>

    </form>
</body>
<script th:inline="javascript">
    var u = [[${issue}]]
    if(u != null) {
        console.log(u)
        alert(u)
    }
    u = null
</script>
</html>